<!DOCTYPE html>
<html ng-app="jargoApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="cache-control" content="max-age=0" />
	<meta http-equiv="cache-control" content="no-cache" />
	<meta http-equiv="expires" content="0" />
	<meta http-equiv="expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
	<meta http-equiv="pragma" content="no-cache" />
	<title>Ярго! Если продавать, то... | Веб-платформа по продаже недвижимости в Санкт-Петербурге</title>
    <meta name="yandex-verification" content="ec1ba82566f6f149" />
	<meta name="description" content="Сервис интернет-объявлений по продаже недвижимости в Санкт-Петербурге">
	<meta name="keywords" content="купить недвижимость, спб, Санкт-Петербург, недорогая квартира, студия, евродвушка, евротрешка, дешевое жилье, европланировка, квадратная студия, студия с двумя окнами, большая кухня, функциональная планировка, рациональный коридор, российская квартира-студия, малогабаритная студия, семейная квартира, грамотное зонирование, небольшой метраж">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="stylesheets/output.css">
	<link rel="stylesheet" href="stylesheets/leaflet.css">
	
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
	
	<script src="javascripts/angular-ui-router.min.js"></script>
	 
	<script src="javascripts/leaflet.js"></script>
	<script src="javascripts/angular-leaflet-directive.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
  
<body>
  
<!-- <button class="btn red" ng-click="deleteTodo(todo.id)">delete</button> -->
<!-- <button type="submit" class="btn btn-primary btn-lg btn-block" ng-click="createTodo()">Add Todo</button> -->
	
<nav>
	<div class="nav-wrapper teal darken-2">
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			
			<li><a ui-sref="news">Новости</a></li>
			<li><a ui-sref="articles">Статьи</a></li>
			<li><a ui-sref="agents">Риелторы</a></li>
			<li><a ui-sref="builders">Застройщики</a></li>
		</ul>

	
		<ul class="side-nav" id="mobile-demo">
			<li>
				<div class="user-view">
				<div class="background">
					<img src="images/office.jpg">
				</div>
				<a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
				<a href="#!name"><span class="white-text name">Вася Пупкин</span></a>
				<a href="#!email"><span class="white-text email">vasya@gmail.com</span></a>
				</div>
			</li>
			<li><a href="#!"><i class="material-icons">person</i>Профиль</a></li>
			<li><a href="#!"><i class="material-icons">settings</i>Настройки</a></li>
			<li><div class="divider"></div></li>
			<li><a class="waves-effect" ui-sref="news">Новости</a></li>
			<li><a class="waves-effect" ui-sref="articles">Статьи</a></li>
			<li><a class="waves-effect" ui-sref="agents">Риелторы</a></li>
			<li><a class="waves-effect" ui-sref="builders">Застройщики</a></li>
		</ul>
	</div>
</nav>

<div class="row">
	<div class="col s6 m6">
		<blockquote>
			<strong>Если продавать, то...</strong>
		</blockquote>
	</div>
	<div class="col s6 m6 right-align">
		<a href="/"><img src="images/jarlogo.png"/></a>
	</div>
</div>

<form>
	<div class="input-field">
		<label class="label-icon" for="search" style="margin-left:10px;"><i class="material-icons left-align">search</i></label>
		<input id="search" type="search" style="margin-left:10px;padding-left:30px;width:90%;" ng-model="sflats.flat_address">
	</div>
</form>

<div class="row" ng-controller="FlatsController">
	<div class="col s12 m6 l4" ng-repeat="flat in flatsList | filter:sflats">
		<div class="card">
			<div class="card-image">
				<img height="240" class="activator responsive-img"  ng-src="{{flat.flat_image}}">
				<a class="modal-trigger btn-floating btn-large halfway-fab waves-effect waves-light red tooltipped" data-position="bottom" data-delay="50" data-tooltip="Написать письмо" href="#modal1"><i class="material-icons">mail</i></a>
			</div>
			<div class="card-content">
				<span class="card-title activator grey-text text-darken-4">{{flat.flat_address}}, {{flat.flat_type}}, {{flat.total_area}} м<sup>2</sup><!--<i class="material-icons right">more_vert</i>--></span>
				<p><a href="#">{{flat.flat_price}} &#8381;</a></p>
			</div>
			<div class="card-reveal">
				<span class="card-title grey-text text-darken-4">{{flat.flat_address}}, {{flat.flat_type}}, {{flat.total_area}} м<sup>2</sup><i class="material-icons right">close</i></span>
				<p>{{flat.flat_description}}</p>
			</div>
			<div class="card-content grey lighten-4">
				<leaflet defaults="defaults" 
						 lf-center="{ lat: flat.lat, lng: flat.lng, zoom: 15 }" 
						 width="100%" 
						 height="240px"></leaflet>
				<table class="bordered">
					<tr>
						<td><strong>Общая пл.:</strong> {{flat.total_area}} кв. м</td>
						<td><strong>С/у:</strong> {{flat.wc}}</td>
					</tr>
						<td><strong>Жилая пл.:</strong> {{flat.living_area}} кв. м</td>
						<td><strong>Балкон:</strong> {{flat.balcony}} кв. м</td>
					</tr>
					<tr>
						<td><strong>Коридор:</strong> {{flat.lobby}} кв. м</td>
						<td><strong>Этаж:</strong> {{flat.flat_floor}}</td>
					</tr>
				</table>
			</div>
		</div>
	</div>    
</div>

<div ui-view></div> 
 
<div class="row" ng-controller="NewsController">
	<div class="col s12 m12">
		<h5>Новости</h5>
		<ul class="collapsible" data-collapsible="expandable">
			<li ng-repeat="news in newsList">
			  <div class="collapsible-header">
			  	{{news.title}} 
			  	<span class="new badge red lighten-1" data-badge-caption=" ">{{news.ndate}}</span>
		  	  </div>
			  <div class="collapsible-body" >
				<div class="row">
					<div class="col s12 m6">
						<img width="320" class="responsive-img" ng-src="{{news.photo}}">
					</div>
					<div class="col s12 m6">
						{{news.content}}
					</div>
				</div>
			  </div>
			</li>
		</ul>
	</div>
</div>

<div class="row" ng-controller="ArticlesController">
	<div class="col s12 m12">
		<h5>Статьи</h5>
		<ul class="collapsible" data-collapsible="expandable">
			<li ng-repeat="article in articlesList">
			  <div class="collapsible-header">{{article.title}}</div>
			  <div class="collapsible-body" >
				<div class="row">
					<div class="col s12 m6">
						{{article.content}}
					</div>
				</div>
			  </div>
			</li>
		</ul>
	</div>
</div>
 
<!-- Modal -->
<div id="modal1" class="modal modal-fixed-footer">
	<div class="modal-content">
		<h5>Заявка на просмотр квартиры</h5>
		<div class="row">
			<form class="col s12">
			<div class="row">
				<!-- <div class="input-field col s12">
					<input id="first_name" type="text" class="validate">
					<label for="first_name">Имя</label>
				</div> -->
				<div class="input-field col s12">
					<input id="email" type="email" class="validate">
					<label for="email" data-error="неправильный формат эл.почты">Электронный адрес</label>
				</div>
				<div class="input-field col s12">
					<input type="date" class="datepicker">
					<label for="last_name">Дата просмотра</label>
				</div>
				<div class="input-field col s12">
					<select multiple>
					<option value="1">студия</option>
					<option value="2">евродвушка</option>
					</select>
					<label>Тип квартиры</label>	
				</div>
			</div>
			</form>
		</div>
	</div>
	<div class="modal-footer">
		<a href="mailto:vjalexp@gmail.com" class="modal-action modal-close waves-effect waves-green btn-flat ">Отправить</a>
	</div>
</div>
<!-- //Modal -->
 
<footer class="page-footer teal darken-2"> 
  <div class="container">
	<div class="row">
	  <div class="col s12 m6 l6">
		<h5 class="white-text">О проекте</h5>
		<p class="grey-text text-lighten-4">Добро пожаловать на веб-платформу по  недвижимости в Санкт-Петербурге "Ярго.ру". Здесь Вы сможете купить или продать, получить полезные сведения или дать совет другим, проанализировать ситуацию на рынке и узнать о новых трендах. Если продавать, то Ярго! (ТМ)</p>
	  </div>
	  <div class="col s12 m4 offset-m2 l4 offset-l2">
		<h5 class="white-text">Навигация</h5>
		<ul>
		  <!--<li><a href="#" data-activates="slide-out" class="grey-text text-lighten-3 button-collapse">Личный кабинет</a></li>-->
		  <li><a class="grey-text text-lighten-3" href="#!">Контакты</a></li>
		  <li><a class="grey-text text-lighten-3" href="#!">Реклама на сайте</a></li>
		  <li><a class="grey-text text-lighten-3" href="#!">Требование к ПО</a></li>
		  <li><a class="grey-text text-lighten-3" href="#!">Защита персональных данных</a></li>
		</ul>
		<div class="switch">
		<label style="color:#fff">
		  Выключить рекламу
		  <input type="checkbox">
		  <span class="lever"></span>
		  Включить рекламу
		</label>
	  </div> 
	  </div>
	</div>
  </div>
  <div class="footer-copyright">
	<div class="container">
	&copy; 2017 &laquo;Ярго.ру&raquo;
	<a class="grey-text text-lighten-4 right" href="http://webpopovich.ru" target="_blank">Создание сайта</a>
	<p><small>Сайт www.jargo.ru носит исключительно информационный характер и не является ни при каких условиях и обстоятельствах публичной офертой, определяемой положениями ст.437 ГК РФ.</small></p>
	</div>
  </div>
</footer>
	
	

<script>
$(document).ready(function() {
	$(".button-collapse").sideNav();

	$('#modal1').modal();
	
	$('.tooltipped').tooltip({delay: 50});
	
	setTimeout(function() {
		$('ul.tabs').tabs();
	}, 100);
	
	$('.datepicker').pickadate({
		selectMonths: true, 
		selectYears: 15 
	});
	
	$('.collapsible').collapsible();
	
	$('select').material_select();
});
</script>


<script src="javascripts/app.js"></script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46016925 = new Ya.Metrika({
                    id:46016925,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46016925" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</body>
</html>
